<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static',filename='checkout.css') }}" />
  <title>Checkout</title>
</head>

<body>
  <header class="header d-flex justify-content-center align-items-center">
    {% include 'components/logo-header.html' %}
  </header>
  <div class="container mt-3">
    <div class="row g-3">
      <main class="col-md-6">
        <div class="container-sm section p-4">
          <h4 class="total__title mb-2 pb-2 border-bottom">Order Summary</h4>
          {% for item in items %}
          <div class="d-flex">
            <p>{{ item.name }} x {{ item.selected_quantity }}</p>
            <p class="ms-auto">£{{ "%.2f"|format(item.price * item.selected_quantity) }}</p>
          </div>
          {% endfor %}
          <div class="d-flex pt-3 border-top border-dark">
            <h5>Subtotal</h5>
            <p class="ms-auto">£{{"%.2f"|format(total)}}</p>
          </div>
        </div>
      </main>
      <aside class="col-md-6">
        <div class="container-sm section p-4">
          <div class="row mb-3">
            <label class="form-label col-5" for="start">Delivery Date</label>
            <div class="col-7">
              <input class="form-control" type="date" id="delivery__date" name="delivery__date" value="2022-12-21"
                min="2022-12-21" max="2023-1-31">
            </div>
          </div>
          <div class="row mb-3">
            <label class="form-label col-5" for="delivery time">Delivery Time</label>
            <div class="col-7">
              <select class="form-select" name="delivery time" id="delivery__time">
                <option value="7:00AM-7:30AM">7:00AM-7:30AM</option>
                <option value="7:30AM-8:00AM">7:30AM-8:00AM</option>
                <option value="8:00AM-8:30AM">8:00AM-8:30AM</option>
                <option value="8:30AM-9:00AM">8:30AM-9:00AM</option>
                <option value="9:00AM-9:30AM">9:00AM-9:30AM</option>
                <option value="9:30AM-10:00AM">9:30AM-10:00AM</option>
                <option value="10:00AM-10:30AM">10:00AM-10:30AM</option>
                <option value="10:30AM-11:00AM">10:30AM-11:00AM</option>
                <option value="11:00AM-11:30AM">11:00AM-11:30AM</option>
                <option value="11:30AM-12:00AM">11:30AM-12:00AM</option>
                <option value="12:00AM-12:30AM">12:00AM-12:30AM</option>
                <option value="12:30AM-1:00PM">12:30AM-1:00PM</option>
              </select>
            </div>
          </div>
          <div class="d-flex mb-3">
            <p>Delivery Price</p>
            {% set delivery_price = 5 %}
            <p class="ms-auto">£{{ "%.2f"|format(delivery_price) }}</p>
          </div>
          <div class="d-flex pt-3 border-top border-dark">
            <h5>Total</h5>
            <p class="ms-auto">£{{"%.2f"|format(total + delivery_price)}}</p>
          </div>
          <div class="d-flex justify-content-evenly">
            <form action="/checkout" method="POST">
              <button class="btn btn__main" type="submit">Checkout</button>
            </form>
            <a class="btn btn__main" href="{{url_for('basket.basket_get')}}">Return to Basket</a>
          </div>
        </div>
      </aside>
    </div>
  </div>

  {% include 'components/footer.html' %}
  <!-- Separate Popper and Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"></script>
  <script src="../static/index.js"></script>
  <script src="../static/checkoutDate.js"></script>
</body>

</html>
