<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='style.css') }}"
    />

    <title>Grocerys</title>
  </head>
  <body>
    {% include 'components/header.html' %}
    <!-- products nav -->
    {% include 'components/products-nav.html' %}
    <!-- item card -->
    <div class="container_items">
      {% for item in items %}
      <!--  -->
      {% if loop.index >= start and loop.index < end %}
      <div class="card_item">
        <div class="product_image"></div>
        <p>{{args}}</p>
        <!-- <img class="product_image"> -->
        <h3><b>{{item.name}}</b></h3>
        <p>{{item.description}}</p>
        <p>£{{item.price}}</p>
      </div>
      {% endif %}
      <!--  -->
      {% endfor %}
    </div>

    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        {% for i in range(pages) %}
        <li class="page-item">
          <a class="page-link" href="?start={{i * 24}}&end={{i * 24 + 24}}"
            >{{i + 1}}</a
          >
        </li>
        {% endfor%}

        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </nav>
    <!-- item card -->
    {% include 'components/footer.html' %}

    <!-- Separate Popper and Bootstrap JS -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
