<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" >
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">

    <title>Grocerys</title>
</head>
<body>
    <h1> Welcome to our Grocery site</h1>
    <p> Already a Member?
        <a href={{url_for('login.signInLanding')}}>Login Here!</a>
    </p>
    <p>No Account?
        <a href={{url_for('register.registering')}}> Sign Up Here!</a>
    </p> 
    
    <!-- <div class="dropdown">
        <button> Categories</button>
        <div class="dropdown-content" >
         %  for categorie in Categories %
        </div> -->
    </div>
    <div class="dropdown">
        <button class="dropbtn">Dropdown</button>
        <div class="dropdown-content">
          <a href="#">Produce</a>
          <a href="#">Meat and Seafood</a>
          <a href="#">Dairy</a>
          <a href="#">Frozen Foods</a>
          <a href="#">Bakery</a>
          <a href="#">Beverages</a>
        <a href="#">Canned Goods and Dry Goods</a>
          <a href="#">Condiments and Sauces</a>
          <a href="#">Personal Care and Household Items</a>
          <a href="#">Snacks and Candy</a>
          <a href="#">Deli</a>
          <a href="#">International Foods</a>
        </div>
      </div>
    <!-- item card -->
    <div class="container_items">
        {% for item in items %}
        <div class="card_item">
            <div class="product_image"></div>
            <!-- <img class="product_image"> -->
            <h3><b>{{item.name}}</b></h3>
            <p>{{item.description}}</p>
            <p>£{{item.price}}</p>
            <button>Add</button>
            <input type="number" id="number" value="0" min="0" max="10">
        </div>
        {% endfor %}
    </div>
   <!-- item card -->
</body>
</html>