<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" >
    <title>Sign In Page</title>
</head>
<body>
    <h1>Please Sign In Below</h1>
    <form action='http://localhost:8080/api/v1/login' method ='POST'>
      
        <div class="container">
          <label for="email"><b>Email</b></label>
          <input type="text" placeholder="Enter Email" name="email" required>
      
          <label for="password"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="password" required>
      
          <button type="submit" >Login</button>
          <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
          </label>
        </div>
        <div class="container" style="background-color:#f1f1f1">
          <button type="button" class="cancelbtn" action={{url_for('home.landing')}}>Cancel</button>
          <span class="password"> <a href="{{url_for('register.registering')}}">Sign Up Here</a></span>
          <span class="password">Forgot <a href="#">Password</a></span>
        </div>
      </form>
</body>
</html>