<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" >
    <title>Grocery Profile Page</title>
</head>
<body>
    <div><h1>Please Register Below!</h1>
        <form  method="post">
      
            <div class="container">
              <label for="email"><b>Email</b></label>
              <input type="email" placeholder="Enter Email" name="email" id= "email" required>
          
              <label for="password"><b>Password</b></label>
              <input type="password" placeholder="Enter Password" name="password" id="password" required>
          
              <label for="firstName"><b>First Name</b></label>
              <input type="text" placeholder="Enter First Name" name="firstName" id="firstName"required>

              <label for="lastName"><b>Last Name</b></label>
              <input type="text" placeholder="Enter Last Name" name="lastName" id="lastName" required>

              <label for="dob"><b>Date of Birth</b></label>
              <input type="text" placeholder="Enter your Date of Birth" name="dob" id="dob" required>

              <label for="pcode"><b>PostCode</b></label>
              <input type="text" placeholder="Enter your PostCode" name="pcode" id="pcode" required>
            
              <button type="submit">Login</button>
              <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
              </label>
    </div>
</body>
</html>