<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" >
    <title>Admin Page</title>
</head>
<body>
    <div><h1>Admin Profile</h1>
    <p>Hello, {{name}}!</p>
    <a href={{url_for('home.getItems')}}>Return to Home Page</a>
    </div>

    <h2> Edit Personal Details Below</h2>
    <div class="container form__container">

        <form>
                <div>
                    <label for="email"><b>Email</b></label>
                    <input type="email" class="form-control" placeholder="{{email}}" name="email" id= "floatingInput" required>
                </div>   
                <div>
                    <label for="password"><b>Password</b></label>
                    <input type="password" class="form-control" placeholder="Enter Password" name="password" id="password" required>
                </div>
                <div>
                    <label for="firstName"><b>First Name</b></label>
                    <input type="text" class="form-control" placeholder="{{name}}" name="firstName" id="firstName"required>
                </div>
                <div>
                    <label for="lastName"><b>Last Name</b></label>
                    <input type="text" class="form-control" placeholder="{{lastname}}" name="lastName" id="lastName" required>
                </div>
                <div>
                    <label for="dob"><b>Date of Birth</b></label>
                    <input type="date" class="form-control" placeholder="{{dob}}" name="dob" id="dob" required>
                </div>
                <div>
                    <label for="addressLine1"><b>Address Line 1</b></label>
                    <input type="text" class="form-control" placeholder="{{address}}" name="addressLine1" id="addressLine1" required>
                </div>
                <div>
                    <label for="addressLine2"><b>Address Line 2</b></label>
                    <input type="text" class="form-control" placeholder="{{addressTwo}}" name="addressLine2" id="addressLine2">
                </div>
                <div>
                    <label for="city"><b>City</b></label>
                    <input type="text" class="form-control" placeholder="{{city}}" name="city" id="city" required>
                </div>
                <div>
                    <label for="postCode"><b>Post Code</b></label>
                    <input type="text" class="form-control" placeholder="{{postCode}}" name="postCode" id="postCode" required>
                </div>
                <div>
                    <button type="submit">Submit</button>
                </div>
        </form>
    </div>

    <div>
        <h2>User Management Area</h2>
        
    </div>
    
</body>
</html>