{% for item in items %}
<div class="container p-2 basket__product_card">
  <div class="row">
    <div class="col-4 d-flex">
      <div class="basket__product_image"></div>
    </div>
    <div class="col-8">
      <div class="row">
        <div class="basket__product_title">
          {{item.name}}
          <!-- <div class="col-sm-4"> -->
          <span>
            £{{ "%.2f"|format(item.price * item.selected_quantity) }}
          </span>
        </div>
      </div>
      <div class="row mb-1">
        <div class="col">{{item.description}}</div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <form id="item-{{ item.id }}" class="update-item">
            <input
              type="number"
              name="quantity"
              class="basket__product_quantity"
              id="quantity"
              min="1"
              max="{{ item.quantity }}"
              value="{{ item.selected_quantity }}"
            />
            <button class="btn__main btn__round" aria-label="update item">
              Update
            </button>
          </form>
        </div>
        <div class="col-sm-4">
          <form id="item-{{ item.id }}" class="delete-item">
            <button class="btn btn__secondary">delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
<button type="button" class="btn btn__main">
  <a href="{{url_for('home.getItems')}}">Continue Shopping</a>
</button>
