<div class="container-sm test" style="width: 18rem">
  <div class="total__body">
    <h5 class="total__title">Checkout</h5>
    <div class="row">
      <div class="col">
        <div class="total__item">Subtotal</div>
        <div class="total__delivery">Delivery</div>
        <div class="total__price">Final Price</div>
        <button type="button" class="btn btn__main">
          <a href="{{url_for('home.checkout')}}">Go to Checkout</a>
        </button>
      </div>
    </div>
  </div>
</div>
