{% for item in items %}
<div class="container p-2 basket__product_card">
  <div class="row">
    <div class="col-3 d-flex">
      <div class="basket__product_image"></div>
    </div>
    <div class="col-9">
      <div class="row">
        <div class="col-md-8 basket__product_title">{{item.name}}</div>
        <div class="col-md-4">£{{item.price * item.selected_quantity}}</div>
      </div>
      <div class="row mb-1">
        <div class="col">{{item.description}}</div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <form id="item-{{ item.id }}" class="update-item">
            <input
              type="number"
              name="quantity"
              class="basket__product_quantity"
              id="quantity"
              min="0"
              value="{{ item.selected_quantity }}"
            />
            <button class="btn__main" aria-label="update item">Update</button>
          </form>
        </div>
        <div class="col-md-4">
          <form id="item-{{ item.id }}" class="delete-item">
            <button class="btn btn__secondary">delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
<button type="button" class="btn btn__main">
  <a href="{{url_for('home.getItems')}}">Continue Shopping</a>
</button>
