<header class="header d-flex justify-content-between">
    <h1 class="header__title">Green Basket</h1>
    <ul class="header__links__container d-flex align-items-center">
        <li class="header__links__list">
            <a class="header__pagelinks__anchor" href={{url_for('login.signInLanding')}}>Sing In</a>
        </li>
        <li class="header__links__list">
            <a class="header__pagelinks__anchor" href={{url_for('register.registering')}}>Register</a>
        </li>
    </ul>
</header>