<nav class="nav nav__secondary d-flex">
  <div class="btn-group">
    <button
      class="btn btn__main dropdown-toggle"
      type="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Groceries
    </button>
    <ul class="dropdown-menu">
<!-- 
    GET request to categories table,
    save in local storage  add categories:
    % for category of categories %
    <li><a class="dropdown-item" href="#">categorie.name</a></li>
    % endfor %
-->

<div class="container_items">
  {% for categorie in categories %}
  <!--  -->
  {% if loop.index >= start and loop.index < end %}
  <div class="col-6 card_item category-{{item.category.id}} d-flex">
    <div class="product_image"></div>
    <p>{{args}}</p>
    <!-- <img class="product_image"> -->
    <h3><b>{{category.name}}</b></h3>
    <p>{{item.description}}</p>
    <p>£{{item.price}}</p>
  </div>
  {% endif %}
  <!--  -->
  {% endfor %}
</div>

        <li><a class="dropdown-item" href="#">Produce</a></li>
        <li><a class="dropdown-item" href="#">Meat and Seafood</a></li>
        <li><a class="dropdown-item" href="#">Dairy</a></li>
        <li><a class="dropdown-item" href="#">Frozen Foods</a></li>
        <li><a class="dropdown-item" href="#">Bakery</a></li>
        <li><a class="dropdown-item" href="#">Beverages</a></li>
        <li><a class="dropdown-item" href="#">Canned Goods and Dry Goods</a></li>
        <li><a class="dropdown-item" href="#">Condiments and Sauces</a></li>
        <li><a class="dropdown-item" href="#">Personal Care and Household Items</a></li>
        <li><a class="dropdown-item" href="#">Snacks and Candy</a></li>
        <li><a class="dropdown-item" href="#">Deli</a></li>
        <li><a class="dropdown-item" href="#">International Foods</a></li>
        <li><a class="dropdown-item" href="#">Baby Products</a></li>
        <li><a class="dropdown-item" href="#">Pet Supplies</a></li>
        <li><a class="dropdown-item" href="#">Health and Wellness</a></li>
        <li><a class="dropdown-item" href="#">Beauty and Personal Care</a></li>
        <li><a class="dropdown-item" href="#">Flowers
      <li><hr class="dropdown-divider" /></li>
      <li><a class="dropdown-item" href="#">All Food</a></li>
    </ul>
  </div>
</nav>
