<section class="container section p-4">
    <h2> Edit Personal Details Below</h2>
    <form method="POST">
        <div class="mb-3">
            <label for="email">Email</label>
            <input type="email" class="form-control" placeholder="{{email}}" name="email" id="floatingInput">
        </div>
        <div class="mb-3">
            <label for="password">Password</label>
            <input type="password" class="form-control" placeholder="Enter Password" name="password" id="password">
        </div>
        <div class="mb-3">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" placeholder="{{name}}" name="firstName" id="firstName">
        </div>
        <div class="mb-3">
            <label for=" lastName">Last Name</label>
            <input type="text" class="form-control" placeholder="{{lastname}}" name="lastName" id="lastName">
        </div>
        <div class="mb-3">
            <label for="dob">Date of Birth</label>
            <input type="date" class="form-control" placeholder="{{dob}}" name="dob" id="dob">
        </div>
        <div class="mb-3">
            <label for="addressLine1">Address Line 1</label>
            <input type="text" class="form-control" placeholder="{{address}}" name="addressLine1" id="addressLine1">
        </div>
        <div class="mb-3">
            <label for="addressLine2">Address Line 2</label>
            <input type="text" class="form-control" placeholder="{{addressTwo}}" name="addressLine2" id="addressLine2">
        </div>
        <div class="mb-3">
            <label for="city">City</label>
            <input type="text" class="form-control" placeholder="{{city}}" name="city" id="city">
        </div>
        <div class="mb-3">
            <label for="postCode">Post Code</label>
            <input type="text" class="form-control" placeholder="{{postCode}}" name="postCode" id="postCode">
        </div>
        <div>
            <button class="btn btn__main" type="submit">Submit</button>
        </div>
    </form>
</section>